@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Poppins', system-ui, -apple-system;
    --background: #030712;
    --foreground: #F8FAFC;
    --card: #111827;
    --card-foreground: #F8FAFC;
    --popover: #111827;
    --popover-foreground: #F8FAFC;
    --primary: #6D28D9;
    --primary-foreground: #F8FAFC;
    --secondary: #4C1D95;
    --secondary-foreground: #F8FAFC;
    --muted: #1F2937;
    --muted-foreground: #9CA3AF;
    --accent: #8B5CF6;
    --accent-foreground: #F8FAFC;
    --destructive: #DC2626;
    --destructive-foreground: #F8FAFC;
    --border: #374151;
    --input: #374151;
    --ring: #6D28D9;
    --radius: 1rem;
  }

  .dark {
    --background: #09090B;
    --foreground: #FAFAFA;
    --card: #09090B;
    --card-foreground: #FAFAFA;
    --popover: #09090B;
    --popover-foreground: #FAFAFA;
    --primary: #FAFAFA;
    --primary-foreground: #18181B;
    --secondary: #27272A;
    --secondary-foreground: #FAFAFA;
    --muted: #27272A;
    --muted-foreground: #A1A1AA;
    --accent: #27272A;
    --accent-foreground: #FAFAFA;
    --destructive: #7F1D1D;
    --destructive-foreground: #FAFAFA;
    --border: #27272A;
    --input: #27272A;
    --ring: #D4D4D8;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  [dir="rtl"] {
    font-family: var(--font-assistant), sans-serif;
  }

  [dir="rtl"] h1,
  [dir="rtl"] h2,
  [dir="rtl"] h3,
  [dir="rtl"] h4,
  [dir="rtl"] h5,
  [dir="rtl"] h6 {
    font-family: var(--font-heebo), sans-serif;
  }
}

nextjs-portal {
  display: none;
}
